* {
  background-color: #F0F1F2;
  margin: 0;
  padding: 0;
}

.header {
  background-color: white;
  padding: 90px;
  color: white;
  position: relative;
  border: none;
}

h1 {
  color: black;
  font-family: Poppins;
  background-color: white;
  position: absolute;
  left: 23%;
  top: 30%;
  font-size: x-large;
}

h6 {
  color: #D2D2D2;
  font-family: Poppins;
  background-color: white;
  position: absolute;
  left: 23%;
  top: 48%;
  font-size: unset;
}

.frnd__count {
  color: black;
  font-family: Poppins;
  background-color: white;
  position: absolute;
  left: 55%;
  top: 30%;
  font-weight: unset;
  font-size: x-large;
}

.networth__count {
  color: black;
  font-family: Poppins;
  background-color: white;
  position: absolute;
  left: 63%;
  top: 30%;
  font-weight: unset;
  font-size: x-large;
}

.Wishlists__count {
  color: black;
  font-family: Poppins;
  background-color: white;
  position: absolute;
  left: 71%;
  top: 30%;
  font-weight: unset;
  font-size: x-large;
}

.karma__score__cnt {
  color: black;
  font-family: Poppins;
  background-color: white;
  position: absolute;
  left: 82%;
  top: 30%;
  font-weight: unset;
  font-size: x-large;
}

.friends {
  color: #D2D2D2;
  font-family: Poppins;
  background-color: white;
  position: absolute;
  left: 55%;
  top: 48%;
  font-weight: unset;
  font-size: unset;
}

.net__worth {
  color: #D2D2D2;
  font-family: Poppins;
  background-color: white;
  position: absolute;
  left: 63%;
  top: 48%;
  font-weight: unset;
  font-size: unset;
}

.Wishlists {
  color: #D2D2D2;
  font-family: Poppins;
  background-color: white;
  position: absolute;
  left: 71%;
  top: 48%;
  font-weight: unset;
  font-size: unset;
}

.karma__score {
  color: #D2D2D2;
  font-family: Poppins;
  background-color: white;
  position: absolute;
  left: 82%;
  top: 48%;
  font-weight: unset;
  font-size: unset;
}

.percentile {
  color: black;
  font-family: Poppins;
  background-color: white;
  position: absolute;
  left: 84%;
  top: 36%;
  font-weight: unset;
  font-size: xx-small;
}

.medal {
  position: absolute;
  left: 78%;
  top: 31%;
  height: 4vw;
  width: 3vw;
  font-weight: unset;
}

.profile__pic {
  position: absolute;
  border-radius: 50%;
  left: 11%;
  top: 14%;
  width: 10vw;
  height: 10vw;
}

.button {
  background-color: #C6F2E3;
  border: none;
  color: #46A475;
  padding: 3px 3px;
  text-align: center;
  border-radius: 16px;
  width: 114px;
  height: 25px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  font-size: smaller;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  position: absolute;
  top: 64%;
  left: 23%;
}

.button1 {
  background-color: #C6F2E3;
  border: none;
  color: #46A475;
  border: 2px solid #C6F2E3;
}

.button1:hover {
  background-color: white;
  color: #46A475;
}

.qst {
  background-color: #46A475;
  border: none;
  color: white;
  /* padding: 3px 3px; */
  text-align: center;
  border-radius: 50%;
  width: 2vw;
  height: 2vw;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  font-size: smaller;
  /* margin: 4px 2px; */
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  position: absolute;
  left: 87%;
  top: 29%;
}

.qst1 {
  background-color: #46A475;
  border: none;
  color: white;
  border: 2px solid #46A475;
}

.qst1:hover {
  background-color: white;
  color: #46A475;
}
/*# sourceMappingURL=header1.css.map */